.badge {
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: white;
    font-weight: 600;
}
.badge--sm {
    width: 7px;
    height: 7px;
}