.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding: var(--horizontal-space);
}
.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}
.screen-header__icons__notification {
  position: absolute;
  left: 22px;
  bottom: 22px;
}
